body{
    display: flex;
    justify-content: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.buttons{
    display: flex;
}
.calc-main{
    font-size:18px;
    height: 100%;
}
.digits{
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
}
.row button{
    flex-grow: 1;
}
.row .big{
    font-weight: bold;
    

}
.operations{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.operations button{
    flex-grow:1;
}