body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
button{
    cursor: pointer;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid black;    
}
.buttons{
    display: flex;
    flex-grow: 1;
}
.calc-main{
    font-size:18px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.digits{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.row{
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
}
.row button{
    flex-grow: 1;
}
.row .big{
    font-weight: bold;
    

}
.operations{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.operations button{
    flex-grow:1;
}

